@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: scale(170, 40);
    }
}

.btn,
.btn-secondary {
    border: none;
    padding: 1rem 0;
    transition: all .2s ease-out;
    width: 100%;
    flex: 1;
    line-height: 100%;
    position: relative;
    text-align: center;
}

.btn:enabled,
.btn-secondary:enabled {
    cursor: pointer;
}

.btn:disabled,
.btn-secondary:disabled {
    cursor: not-allowed;
}

.btn {
    background: #fb9823;
    color: #ffffff;
    overflow: hidden;
    width: 100%;
}

.btn:after {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    content: '';
    height: 5px;
    opacity: 0;
    position: absolute;
    transform: translate(50%, 50%) scale(1, 1);
    width: 5px;
}

.btn:disabled:not(:active)::after {
    animation: ripple .55s ease-out;
}

.btn--danger {
    background-color: #c2243b;
}

.btn--resolve {
    background-color: #3fa595;
}

.btn--info {
    background-color: #578ebd;
}

.btn:enabled:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.175);
}

.btn:disabled:after {
    opacity: 1;
    transform: scale(170, 40);
}

.btn-secondary {
    color: #3f4244;
}

.btn-secondary:disabled {
    color: #8a8f92;
}

.btn-secondary:enabled:hover {
    background-color: #fdc787;
}

.btn-secondary--danger:enabled:hover {
    background-color: #c2243b;
    color: #ffffff;
}

.btn-secondary--success:enabled:hover {
    background-color: #3fa595;
    color: #ffffff;
}

.btn-secondary--info:enabled:hover {
    background-color: #578ebd;
    color: #ffffff;
}

.back-btn {
    cursor: pointer;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.btn-center-outer {
    text-align: center;
}

.btn-outer {
    display: block;
    margin: 60px auto 25px;
    width: 100%;
}

.btn-outer--center {
    text-align: center;
}

.btn-outer--small {
    max-width: 180px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    cursor: pointer;
    padding-left: 26px;
    position: relative;
}

input[type="checkbox"]+label:before,
input[type="checkbox"]+label:after {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

input[type="checkbox"]+label:before {
    border: 2px solid #8a8f92;
    border-radius: 3px;
    content: '';
    left: 0;
    height: 16px;
    width: 16px;
}

input[type="checkbox"]+label:after {
    border-right: 3px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    content: '';
    display: none;
    left: 5.2px;
    height: 12.6px;
    width: 6.6px;
    transform: translateY(-65%) rotate(40deg);
}

input[type="checkbox"]:checked+label:before {
    background: #fb9823;
    border-color: #fb9823;
}

input[type="checkbox"]:checked+label:after {
    display: block;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    cursor: pointer;
    padding-left: 26px;
    position: relative;
}

input[type="radio"]+label:before,
input[type="radio"]+label:after {
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    position: absolute;
}

input[type="radio"]+label:before {
    border: 2px solid #8a8f92;
    content: '';
    left: 0;
    height: 16px;
    width: 16px;
}

input[type="radio"]+label:after {
    background: #fb9823;
    content: '';
    display: none;
    left: 6px;
    height: 8px;
    width: 8px;
}

input[type="radio"]:checked+label:before {
    background: #fff;
    border-color: #fb9823;
}

input[type="radio"]:checked+label:after {
    display: block;
}

input,
select,
button {
    background: none;
    border: none;
}

.field {
    position: relative;
    padding-top: 16px;
    width: 100%;
}

.field input:not([type="checkbox"]),
.field select {
    border: none;
    border-bottom: 1px solid #8a8f92;
    caret-color: #fb9823;
    color: #3f4244;
    padding-bottom: 6px;
    width: 100%;
    background: radial-gradient(#fb9823, #fb9823) bottom -1px center no-repeat;
    background-size: 0px 2px;
    -webkit-transition-property: background-size, border-color;
    -moz-transition-property: background-size, border-color;
    -ms-transition-property: background-size, border-color;
    -o-transition-property: background-size, border-color;
    padding-top: 1px;
    transition-property: background-size, border-color;
    transition-duration: 0.2s;
}

.field input:not([type="checkbox"]):focus,
.field select:focus {
    border-bottom-color: transparent;
    background-size: 100% 2px;
}

.field input:not([type="checkbox"]):disabled,
.field select:disabled {
    opacity: .5;
}

.field select {
    cursor: pointer;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.field select::-ms-expand {
    display: none;
}

.field label {
    color: #8a8f92;
    font-size: 12px;
    left: 0;
    top: 0;
    position: absolute;
    pointer-events: none;
    transition: all 0.2s;
}

.field select:focus~label,
.field input:not([type="checkbox"]):focus~label {
    color: #fb9823;
}

.field select:not(:valid):not(:disabled)~label,
.field input:not([type="checkbox"]):not(:focus):placeholder-shown~label {
    font-size: 16px;
    opacity: .75;
    position: absolute;
    top: 14px;
}

.field input:not([type="checkbox"])::-webkit-input-placeholder {
    color: #8a8f92;
    opacity: .85;
    transition: opacity .2s;
}

.field input:not([type="checkbox"])::-moz-placeholder {
    color: #8a8f92;
    opacity: .85;
    transition: opacity .2s;
}

.field input:not([type="checkbox"]):-ms-input-placeholder {
    color: #8a8f92;
    opacity: .85;
    transition: opacity .2s;
}

.field input:not([type="checkbox"]):placeholder-shown:not(:focus)::-webkit-input-placeholder {
    opacity: 0;
}

.field input:not([type="checkbox"]):placeholder-shown:not(:focus)::-moz-placeholder {
    opacity: 0;
}

.field.field--error input:not([type="checkbox"]),
.field.field--error select {
    border-bottom-color: #c2243b;
    caret-color: #c2243b;
    background: radial-gradient(#c2243b, #c2243b) bottom -1px center no-repeat;
    background-size: 0px 2px;
    -webkit-transition-property: background-size, border-color;
    -moz-transition-property: background-size, border-color;
    -ms-transition-property: background-size, border-color;
    -o-transition-property: background-size, border-color;
    padding-top: 1px;
    transition-property: background-size, border-color;
    transition-duration: 0.2s;
}

.field.field--error input:not([type="checkbox"]):focus,
.field.field--error select:focus {
    border-bottom-color: transparent;
    background-size: 100% 2px;
}

.field.field--error input:not([type="checkbox"])~label,
.field.field--error input:not([type="checkbox"]):focus~label,
.field.field--error select~label,
.field.field--error select:focus~label {
    color: #c2243b;
}

.field+.error {
    color: #c2243b;
    font-size: 12px;
}

.field input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.flex-row>.field {
    margin-right: 30px;
}

.status-message {
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 15px 15px;
    position: fixed;
    max-width: 500px;
    top: 25px;
    width: 100%;
    z-index: 20;
}

@media (max-width: 767px) {
    .status-message {
        width: 90%;
        max-width: 90%;
    }
}

.status-message .status-heading {
    font-size: 24px;
    font-weight: 200;
}

.status-message .status-heading i {
    color: #ffffff;
    font-size: 30px;
    margin-right: 15px;
}

.status-message .status-text {
    padding-left: 45px;
}

.status-message--success {
    background: #3fa595;
}

.status-message--error {
    background: #c2243b;
}

.status-message--info {
    background: #578ebd;
}

.confirmation-message__text {
    margin-bottom: 30px;
}

.confirmation-message__buttons {
    display: flex;
    justify-content: flex-end;
}

.confirmation-message__buttons button {
    flex: .45;
}

.confirmation-message__buttons .cancel-btn {
    margin-right: 5px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column--justify-around,
.flex-row--justify-around {
    justify-content: space-around;
}

.flex-column--justify-between,
.flex-row--justify-between {
    justify-content: space-between;
}

.flex-column--justify-end,
.flex-row--justify-end {
    justify-content: flex-end;
}

.flex-column--justify-center,
.flex-row--justify-center {
    justify-content: center;
}

.flex-column--align-center,
.flex-row--align-center {
    align-items: center;
}

.flex-column--align-end,
.flex-row--align-end {
    align-items: flex-end;
}

.flex-column--align-start,
.flex-row--align-start {
    align-items: flex-start;
}

.flex-column--relative,
.flex-row--relative {
    position: relative;
}

.flex-column--wrap,
.flex-row--wrap {
    flex-wrap: wrap;
}

@media (max-width: 767px) {
    .mobile-hidden {
        display: none;
    }
}

@media (max-width: 1023px) {
    .tablet-hidden {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tablet-hidden-only {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 767px) and (min-width: 1024px) {
    .tablet-only {
        display: none;
    }
}

@media (min-width: 1024px) {
    .desktop-hidden {
        display: none;
    }
}

@keyframes slide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bubble-anim {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scaleY(0.95) scaleX(1.05);
    }
    48% {
        transform: scaleY(1.1) scaleX(0.9);
    }
    68% {
        transform: scaleY(0.98) scaleX(1.02);
    }
    80% {
        transform: scaleY(1.02) scaleX(0.98);
    }
    97%,
    100% {
        transform: scale(1);
    }
}

@keyframes expand {
    0% {
        transform: scaleX(0) scaleY(0);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(30px);
    }
    20% {
        transform: translate(-30px);
    }
    40% {
        transform: translate(15px);
    }
    60% {
        transform: translate(-15px);
    }
    80% {
        transform: translate(8px);
    }
    100% {
        transform: translate(0px);
    }
}

@keyframes shakeWhenCenterredHorizontally {
    0% {
        transform: translateX(calc(-15px - 50%));
    }
    30% {
        transform: translateX(calc(6px - 50%));
    }
    60% {
        transform: translateX(calc(-6px - 50%));
    }
    80% {
        transform: translateX(calc(2px - 50%));
    }
    100% {
        transform: translateX(calc(0px - 50%));
    }
}

@keyframes expandWhenCenterredHorizontally {
    0% {
        transform: translateX(-50%) scaleX(0.5) scaleY(0.5);
    }
    100% {
        transform: translateX(-50%) scaleX(1) scaleY(1);
    }
}

@keyframes expandWhenCenterred {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 1;
        transform: translate(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

@keyframes appearFromFar {
    0% {
        opacity: 0;
        transform: scale(0.4);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes expandField {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.expand-field-enter-active {
    animation: expandField .25s ease-in-out;
}

.expand-field-leave-active {
    animation: expandField .25s ease-in-out reverse;
}

.slide-enter-active {
    animation: slide .15s linear;
}

.slide-leave-active {
    animation: slide .15s reverse linear;
}

.effectiveForm-enter-active {
    animation: expand .20s linear;
    transform-origin: bottom left;
}

.effectiveForm-leave-active {
    animation: slideLeft .20s linear;
    position: absolute;
}

.effectiveDetails-enter-active {
    animation: expand .20s linear;
    transform-origin: bottom right;
}

.appearFromFar-enter-active {
    animation: appearFromFar .20s linear;
}

.appearFromFar-leave-active {
    animation: appearFromFar .20s linear reverse;
}

.statusPopup-enter-active {
    animation: shakeWhenCenterredHorizontally .35s linear;
    transform-origin: top center;
}

.statusPopup-leave-active {
    animation: fade .20s ease-in-out reverse;
    transform-origin: top center;
}

.popup-enter-active {
    animation: expandWhenCenterred 0.1s cubic-bezier(0.39, 0.37, 0.64, 1.49);
    transform-origin: center center;
}

.popup-leave-active {
    animation: expandWhenCenterred 0.1s cubic-bezier(0.39, 0.37, 0.64, 1.49) reverse;
    transform-origin: center center;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.app__specified-form {
    margin-bottom: 30px;
    padding: 50px 50px 30px;
    max-width: 770px;
    width: 100%;
}

.app__specified-form h2 {
    margin-bottom: 55px;
}

@media (max-width: 1023px) {
    .app__specified-form {
        padding: 20px 10px;
    }
}

.app__specified-form .input-field {
    margin-bottom: 35px;
}

.form-heading {
    margin-bottom: 55px;
}

.form-block {
    padding: 50px 40px 30px;
    margin: auto;
    max-width: 440px;
    width: 100%;
}

.form-block .form-btn {
    margin: 30px 0 35px;
}


/* Global styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: none;
}

body,
input,
select,
textarea {
    background: #e2e3e3;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.005em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 300;
    margin: 0;
}

h1 {
    font-size: 32px;
    margin-bottom: 35px;
}

h2 {
    font-size: 24px;
    margin-bottom: 25px;
}

h3,
h4 {
    margin-bottom: 5px;
}

p {
    margin-top: 0;
}

a {
    color: #fb9823;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    max-width: 1250px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
}

@media (min-width: 1367px) {
    .container {
        max-width: 1560px;
        width: 80%;
    }
}

.material {
    background: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.23);
}

.mdi {
    font-size: 18px;
    color: #3f4244;
}

button .mdi {
    font-size: 16px;
}

.icon-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.icon-btn:hover i {
    opacity: .75;
}

.cover {
    background-color: #3f4244;
    height: 100vh;
    opacity: .5;
    position: fixed;
    left: 0;
    top: 0;
    transition: .15s;
    width: 100vw;
    z-index: 17;
}

.cover--sidebar {
    z-index: 9;
}

.cover--low {
    opacity: .1;
}

.tfa-dialog,
.password-dialog,
.confirmation-message {
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    max-width: 440px;
    padding: 25px 35px 40px;
    position: fixed;
    width: 100%;
    z-index: 20;
}

.tfa-dialog p,
.password-dialog p,
.confirmation-message p {
    margin-bottom: 30px;
}

.tfa-dialog .input-field,
.password-dialog .input-field,
.confirmation-message .input-field {
    margin-bottom: 20px;
}

.tfa-dialog .close-btn,
.password-dialog .close-btn,
.confirmation-message .close-btn {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.info {
    color: #578ebd;
}

.active {
    color: #fb9823;
}

.load-more-btn {
    cursor: pointer;
}


/*# sourceMappingURL=app.css.map */
