<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SecureVote App</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--<link rel="stylesheet" href="./css/vendor/material.blue_grey-deep_orange.min.css" />-->
    <link rel="stylesheet" href="./css/vendor/material.amber-light_blue.min.css" />

    <link rel="stylesheet" type="text/css" href="css/vendor/dialog-polyfill.css" />
    <link rel="stylesheet" href="css/vendor/tachyons.min.css">
    <link rel="stylesheet" href="css/common.css">
    <!--<link rel="stylesheet" href="css/securevote.css">-->
    <link rel="stylesheet" href="css/swarmfund.css">
  </head>
  <body>
    <div id="sv-fullscreen" class="w-100">
    </div>
    <script src="js/vendor/dialog-polyfill.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>