<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SecureVote App</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialdesignicons.css">
</head>
<body>
<div style="background: linear-gradient(315deg, #001B28 0%, #00608F 100%);">
    <div id="sv-fullscreen" style="height: 100vh; background-image: url('img/nodes-graphic.png'); background-repeat: repeat-x; background-position: center bottom">
        <!-- Free Loading Spinner from icons8.com/cssload -->
        <!-- https://icons8.com/cssload/en/terms_of_use -->
        <div id='loading-screen' class="overflow-x-hidden">
            <div class="cssload-container">
                <ul class="cssload-flex-container cssload-orange">
                    <li>
                        <span class="cssload-loading cssload-one"></span>
                        <span class="cssload-loading cssload-two"></span>
                        <span class="cssload-loading-center"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="/web/src/Ports.js"></script>
</body>
</html>
