<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SecureVote App</title>

    <link rel="shortcut icon" href="/img/favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" rel=stylesheet>
    <link rel="stylesheet" href="/css/swarmfund.css">
    <link rel="stylesheet" href="/css/materialdesignicons.css">
  </head>
  <body>
    <div class="">
      <div id="sv-fullscreen" class="material" style="margin: 30px; padding: 30px;">
        <!-- Free Loading Spinner from icons8.com/cssload -->
        <!-- https://icons8.com/cssload/en/terms_of_use -->
        <div id='loading-screen' class="overflow-x-hidden">
          <div class="cssload-container">
            <ul class="cssload-flex-container cssload-orange">
              <li>
                <span class="cssload-loading cssload-one"></span>
                <span class="cssload-loading cssload-two"></span>
                <span class="cssload-loading-center"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>
      loadElm = function() {
        if (typeof Elm !== "undefined") {
            var node = document.getElementById('sv-fullscreen');
            var flags = {
                votingPrivKey: '', //Uint8Array.from(Array(32).fill(0)),
                democracyId: 31,
                admin: false,
                singleDemocName: "SV Demo"
            };
            const app = Elm.MainDemo.embed(node, flags);

            // Remove Loading Spinner
            var element = document.getElementById("loading-screen");
            element.parentNode.removeChild(element);
        } else {
            setTimeout(loadElm, 100);
        }
      }
      loadElm();
    </script>
  </body>
</html>
